body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.product {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.product-image {
    height: 200px; /* Set a fixed height for the image container */
    overflow: hidden; /* Hide any overflow if the image is larger */
}

.product-image img {
    width: 100%;
    height: auto;
}

.price {
    font-size: 18px;
    color: #f39c12;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #2980b9;
}
