{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple E-commerce Website</title>
    <link rel="stylesheet" href="{% static 'css/mainstyle.css' %}">
</head>

<body>
    <header>
        <h1>Simple E-commerce</h1>
    </header>
    <div class="product-container">
        {% for x in products %}
        <div class="product">
            <div class="product-image">
                <img src="{{x.productImage.url}}" alt="Product 1"/>
            </div>
            <h2>{{x.productName}}</h2>
            <p class="price">{{x.productPrice}}</p>
            <button class="add-to-cart">Add to Cart </button>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock content %}
</html>
